.icon-links {
  a[href*="https:"]:not(:has(img)),
  a[href*="http:"]:not(:has(img)) {
    &::after {
      content: " ↗";
      font-size: 0.75rem;
    }
  }

  a:not(:has(img)) {
    &::after {
      content: " →";
      font-size: 0.75rem;
    }
  }
}
