code {
  border-radius: var(--rounded-xs);
  background-color: var(--color-background-second);
  padding: 0.125rem 0.25rem;
  color: var(--color-accent);
  font-weight: 500;
  font-size: 0.83rem;
  font-family: var(--main-mono);
}

kbd {
  cursor: pointer;
  border: 0.0625rem solid var(--color-border);
  border-bottom: 0.125rem solid var(--color-border);
  border-radius: var(--rounded-xs);
  background-color: var(--color-background-second);
  padding: 0.1875rem;
  font-size: 0.875rem;
  font-family: var(--main-mono);

  &:active {
    border-bottom: 0.0625rem solid var(--color-border);
    border-left: 0.125rem solid var(--color-border);
    background-color: var(--color-border);
    padding-bottom: 0.25rem;
    padding-left: 0.25rem;
  }
}

time {
  cursor: pointer;
  border: 0.0625rem solid var(--color-border);
  border-bottom: 0.125rem solid var(--color-border);
  border-radius: calc(var(--rounded-xs) - 0.0125rem);
  background-color: var(--color-background-second);
  padding: 0.1875rem;
  color: var(--color-accent);
  font-weight: 700;
  font-size: 0.875rem;

  strong {
    display: inline-block;
    animation: blink 0.7s infinite alternate;
    font-weight: 700;
  }

  @keyframes blink {
    from {
      opacity: 1;
    }

    to {
      opacity: 0.5;
    }
  }

  &:active {
    border-top: 0.125rem solid var(--color-border);
    border-bottom: 0.0625rem solid var(--color-border);
    padding-top: 0.25rem;
    font-weight: 800;

    strong {
      animation: none;
    }
  }
}

.spoiler {
  font-weight: 600;

  span {
    filter: blur(0.25rem);
    animation: glow 1.5s infinite linear alternate-reverse;
    transition: filter 0.3s ease;
    font-weight: normal;

    &:hover {
      filter: none;
      animation: none;
    }

    &:active {
      font-style: italic;
    }
  }

  @keyframes glow {
    0% {
      text-shadow: 0 0 0 var(--color-accent);
    }

    20% {
      text-shadow: 0 0 0.25rem var(--color-accent);
    }

    40% {
      text-shadow: 0 0 0.375rem var(--color-accent);
    }

    60% {
      text-shadow: 0 0 0.5rem var(--color-accent);
    }

    80% {
      text-shadow: 0 0 0.625rem var(--color-accent);
    }

    100% {
      text-shadow: 0 0 0.9375rem var(--color-accent);
    }
  }
}

aside {
  float: right;
  margin-inline-start: 1rem;
  border-radius: var(--rounded-sm);
  background-color: var(--color-background-second);
  padding: 1rem;
  width: 30%;
}

progress {
  appearance: none;
  margin: 0.625rem 0;
  border: none;
  border-radius: calc(var(--rounded-xs) - 0.0125rem);
  background-color: var(--color-background-second);
  height: 0.625rem;
  color: var(--color-accent);

  &::-webkit-progress-value {
    background-color: var(--color-accent);
  }

  &::-moz-progress-bar {
    background-color: var(--color-accent);
  }

  &::-ms-fill {
    background-color: var(--color-accent);
  }
}

samp {
  border-radius: var(--rounded-sm);
  background-color: var(--color-background-second);
  padding: 0.125rem 0.375rem;
  color: var(--color-text-secondary);
  font-size: 0.9rem;
  font-family: var(--main-mono);
}

legend {
  display: inline-block;
  border-radius: var(--rounded-xs);
  background-color: var(--color-background-second);
  padding: 0.125rem 0.375rem;
  color: var(--color-text);
}

q {
  display: inline-block;
  border-radius: var(--rounded-xs);
  background-color: var(--color-background-second);
  padding: 0.125rem 0.375rem;
  color: var(--color-text-secondary);
  font-style: italic;
}

u {
  text-decoration: underline wavy var(--color-accent);
}

@mixin diff {
  color: inherit;
  font-family: var(--main-mono);
}

del {
  @include diff;
  background-color: #ffcccc;

  @media (prefers-color-scheme: dark) {
    background-color: #ff66665a;
  }
}

ins {
  @include diff;
  background-color: #ccffcc;

  @media (prefers-color-scheme: dark) {
    background-color: #3795379e;
  }
}

cite {
  font-style: italic;
}
