.center {
  text-align: center;
}

.home #title {
  margin: 0;
  color: var(--color-accent);
  font-size: 2.5rem;
  text-align: center;
}

.home #desc {
  color: var(--color-text-secondary);
  font-weight: 500;
  text-align: center;
}

.home #features ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 0.625rem;
  margin: 0;
  padding: 0;
}

.home #features li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
  border-radius: 0.5rem;
  background-color: var(--color-background-second);
  padding: 1.25rem;
  list-style: none;
  text-align: center;
  text-wrap: balance;
}

.home #features li strong {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  margin-bottom: 1.25rem;
  border-radius: 0.375rem;
  background-color: var(--color-background-mute);
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
}

.home #features .ph-icon {
  width: 1.5rem;
  height: 1.5rem;
}

@media (prefers-color-scheme: dark) {
  .home #title {
    background: linear-gradient(
      95deg,
      var(--accent) 32.27%,
      hsl(from var(--accent) h 100% 83%) 68.51%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (max-width: 600px) {
  .home #features ul {
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }
}
