.icon-links {
  a[href*="https://"],
  a[href*="http://"]
  {
    &::after {
      content: " ↗";
      font-size: 0.75rem;
    }
  }

  a {
    &::after {
      content: " →";
      font-size: 0.75rem;
    }
  }
}
