.table-small table {
  width: max-content;
}

.center {
  text-align: center;
}

.home {
  #title {
    margin: 0;
    color: var(--color-accent);
    font-size: 2.5rem;

    @media (prefers-color-scheme: dark) {
      background: linear-gradient(95deg, #55b458 32.27%, #a7ffaa 68.51%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .lang {
    display: none;
  }

  #features ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    margin: 0;

    @media screen and (max-width: 37.5rem) {
      grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    }

    & {
      gap: 0.625rem;
      padding: 0;
      min-width: 100%;
    }

    li {
      text-wrap: balance;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition:
        transform 0.3s ease 0s,
        background-color 0.3s ease 0s;
      border-radius: 0.5rem;
      background-color: var(--color-background-second);
      padding: 1.25rem;
      list-style: none;
      text-align: center;
      text-align: center;

      .emoji,
      strong {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.25s;
        cursor: default;
        margin-bottom: 1.25rem;
        border-radius: 0.375rem;
        background-color: var(--color-background-mute);
        width: 3rem;
        height: 3rem;
        font-size: 1.875rem;
        font-size: 1.5rem;
      }
    }
  }

  #aeolus,
  #quote {
    color: var(--color-text-secondary);
    font-style: italic;
    font-weight: 500;
    text-align: center;
  }

  #desc {
    color: var(--color-text-secondary);
    font-weight: 500;
  }

  aside {
    width: 40%;

    h2 {
      margin: 0.3125rem 0;
      font-size: 2rem;
    }

    @media screen and (max-width: 37.5rem) {
      width: 100%;
    }
  }

  #journey {
    padding: 0;
  }
}

.more-links ul {
  padding: 0;

  li {
    list-style: none;
    text-align: center;

    a {
      display: flex;
      flex-direction: column;
      gap: 0;
      transition:
        transform 0.3s ease,
        background-color 0.3s ease,
        text-decoration 0.3s ease,
        color 0.3s ease;
      border-radius: 0.5rem;
      background-color: var(--color-background-second);
      padding: 1.125rem 1.25rem;
      width: 100%;
      height: 100%;
      color: var(--color-text);
      font-weight: 500;
      text-align: left;
      text-decoration: none;

      &:hover {
        transform: scale(1.0125);
        background-color: var(--color-background-mute);
        text-decoration: none;
      }

      &:active {
        transform: scale(0.9825);
        text-decoration: none;
      }

      &::after {
        display: none;
      }

      strong {
        margin: 0 !important;
        color: var(--color-accent);
        font-weight: 800;
        font-size: 1.25rem;
        letter-spacing: 0 !important;
        text-decoration: underline 0.125rem solid var(--color-accent);
      }
    }
  }
}

/*

input[type="checkbox"] {
  position: relative;
  appearance: none;
  border: .15rem solid var(--color-background-second);
  background-color: var(--color-border);
  width: 1rem;
  height: 1rem;

  &:checked {
    border: 0.15rem solid rgba(0, 0, 0, 0);
    background-color: var(--color-accent);

    &:disabled {
      cursor: not-allowed;
      background-color: var(--color-accent-alpha);
    }
  }
}

*/
