.article-list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  gap: 0.9375rem;

  @media screen and (max-width: 37.5rem) {
    grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
  }

  .post {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    transition: transform 0.3s ease;
    border-radius: 0.5rem;
    background-color: var(--color-background-second);
    padding: 1.25rem;

    > .full-link {
      position: absolute;
      inset: 0;
      border-start-end-radius: 2.125rem;
      border-end-end-radius: 1.8125rem;
      cursor: pointer;
    }

    &:first-child {
      background-color: var(--color-background-mute);
    }

    h3 {
      margin: 0 !important;
      font-size: 1.5rem;

      a {
        font-weight: 800;
        letter-spacing: -.05em;

        &::after {
          display: none;
        }

        &:hover {
          &::after {
            display: block;
          }
        }
      }
    }

    .tags span {
      cursor: pointer;
    }

    &.archive {
      background-color: #ff00dd11;

      @media (prefers-color-scheme: dark) {
        background-color: #ff00ff14;
      }

      a {
        color: #5b004f;

        @media (prefers-color-scheme: dark) {
          color: #ff69ff;
        }
      }

      .tags span {
        background-color: #5b004f1d;

        @media (prefers-color-scheme: dark) {
          background-color: #ff41ff1d;
        }
      }
    }

    &.draft {
      border: 0.15rem dashed #5b4f00;
      background-color: transparent;
      border-radius: 1.2rem;

      @media (prefers-color-scheme: dark) {
        border-color: #ffff7d5a;
      }

      a {
        color: #5b4f00;

        @media (prefers-color-scheme: dark) {
          color: #ffff77;
        }
      }

      .tags span {
        background-color: #5b4f001d;
        cursor: pointer;

        @media (prefers-color-scheme: dark) {
          background-color: #ffff0037;
        }
      }
    }

    &.featured {
      transition: all 0.3s ease;
      border-color: #5b4f00;
      background-color: #5b4f0011;

      @media (prefers-color-scheme: dark) {
        border-color: #ffff00;
        background-color: #ffff0011;
      }

      &:hover {
        outline: 0.15rem dashed #5b4f00;
        outline-offset: 0.5rem;
      }

      a {
        color: #5b4f00;

        @media (prefers-color-scheme: dark) {
          color: #f0f077;
        }
      }

      .tags span {
        background-color: #5b4f001d;

        @media (prefers-color-scheme: dark) {
          background-color: #ffff001c;
        }
      }
    }

    p {
      margin: 0;
      color: var(--color-text);
      font-weight: 500;
      text-decoration: none;
    }

    .post-details {
      display: flex;
      justify-content: space-between;
      border-top: 0.0625rem solid var(--color-border);
      padding-top: 0.625rem;

      .date {
        font-feature-settings: "zero", "tnum", "cv03", "cv02";
        color: var(--color-text-secondary);
        font-weight: 600;
        font-size: 0.9rem;
      }
    }
  }
}

.filter-tags {
  #all-tags {
    background-color: var(--color-accent-alpha);
    color: var(--color-accent);
  }

  button {
    transition: all 0.3s ease;
    cursor: pointer;
    margin-right: 0.625rem;
    margin-bottom: 3px;
    border-radius: 20px;
    background-color: var(--color-background-second);
    padding: 0.25rem 0.75rem;
    font-size: 0.8rem;

    &:hover {
      background-color: var(--color-accent-alpha);
      color: var(--color-accent);
    }

    &:active {
      transform: scale(0.8);
    }
  }
}

.tags {
  text-align: right;

  span {
    margin-right: 5px;
    border-radius: 20px;
    background-color: var(--color-background);
    padding: 0.15rem 0.45rem;
    color: var(--color-text-accent);
    font-weight: 500;
    font-size: 12px;
  }
}
