.custom-block:not(.details) {
  margin: 1.25rem 0;
  border-radius: 0.5rem 0.625rem 0.625rem 0.625rem;
  padding: 1.8rem 1.25rem;
  width: max-content;
  min-width: 45%;
  max-width: 70%;
  line-height: 1.5rem;

  p {
    color: var(--color-text);
  }

  p:not(.custom-block-title) {
    margin: 0;
    font-size: 0.9rem;
  }

  .custom-block-title {
    margin-top: 0;
    margin-bottom: 0.625rem;
    font-weight: 800;
    font-size: 1.8rem;
  }
}

.danger {
  border-left: rgb(219, 25, 25) 0.4rem solid;
  background-color: #ff001936;

  @media (prefers-color-scheme: dark) {
    background-color: #39181b;
  }
}

.warning {
  border-left: rgb(159, 135, 0) 0.4rem solid;
  background-color: #ffcc007e;

  @media (prefers-color-scheme: dark) {
    border-left: rgb(255, 217, 0) 0.4rem solid;
    background-color: #372a1a;
  }
}

.tip {
  border-left: rgb(75, 110, 22) 0.4rem solid;
  background-color: #00ff006a;

  @media (prefers-color-scheme: dark) {
    border-left: rgb(153, 255, 0) 0.4rem solid;
    background-color: #1f3f1f;
  }

}

.info {
  border-left: var(--color-accent) 0.4rem solid;
  background-color: var(--color-background-mute);
}

.details {
  margin: 1.25rem 0;
  border-radius: 0.625rem;
  background-color: var(--color-background-second);
  padding: 1rem;
  min-width: 45%;
  max-width: max-content;

  summary {
    cursor: pointer;
    margin-top: 0;
    font-weight: 700;
  }

  p {
    margin: 0.625rem 0 0 0;
    font-size: 0.9375rem;
  }
}
