h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.25rem 0;
}

p {
  margin: 1rem 0;
}

h1 {
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.075rem;
  margin: 2.0938rem 0;
}

h2 {
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.075rem;
}

h3 {
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.075rem;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  overflow-wrap: break-word;
}

pre {
  font-family: "Geist Mono", monospace;
  font-weight: 500;
  background-color: var(--color-background-code);
  border-right: var(--color-accent) 0.3125rem solid;
  padding: 0.625rem 1.25rem;
  overflow: auto;
  max-width: 100%;
  border-radius: 1.25rem;
  margin: 1.25rem 0;

  code {
    background-color: transparent;
    color: var(--color-text);
    border-radius: 0;
    padding: 0;
    border: 0;

    span {
      color: var(--shiki-light, inherit);

      @media (prefers-color-scheme: dark) {
        color: var(--shiki-dark, inherit);
      }

      .line .highlighted {
        background-color: rgba(142, 150, 170, 0.14);

        @media (prefers-color-scheme: dark) {
          background-color: rgba(101, 117, 133, 0.16);
        }
      }
    }
  }

  .highlighted {
    background-color: rgba(142, 150, 170, 0.14);

    @media (prefers-color-scheme: dark) {
      background-color: rgba(101, 117, 133, 0.16);
    }

    transition: background-color 0.5s;
    margin: 0 -1.5rem;
    padding: 0 1.5rem;
    width: calc(99% + 2 * 1.5rem);
    display: inline-block;
  }

  .has-focused-lines .line:not(.has-focus) {
    filter: blur(0.095rem);
    opacity: 0.4;
    transition: filter 0.35s, opacity 0.35s;
  }
}

blockquote {
  border-left: var(--color-accent) 0.3125rem solid;
  border-radius: 0.5rem 1.5rem 1.5rem 0.5rem;
  background-color: var(--color-background-second);
  padding: 0.625rem 1.1875rem;
  margin: 0;
  width: max-content;
  max-width: 97%;

  blockquote {
    margin: 0.3125rem 0;
    padding: 0.3125rem 0.625rem;
  }

  p {
    color: var(--color-text-secondary);
    margin: 0;
  }
}

img,
video {
  border-radius: 0.625rem;
  margin: 0.625rem 0;
  width: 100%;
  transition: transform 0.4s, border-radius 0.4s, box-shadow 1.5s ease;

  &:hover {
    transform: scale(1.1);
    box-shadow: var(--base-shadow);
    border-radius: 1.25rem;
    cursor: zoom-in;
  }
}

video:hover {
  border-radius: 0;
  transform: scale(1.06);
}

img:active {
  transform: scale(1.3);
  border-radius: 0;
}

figcaption {
  margin-top: -0.5rem;
  margin-bottom: 2rem;
  display: block;
  text-align: center;
  color: var(--color-text-secondary);
  font-size: 0.8rem;
}

small {
  display: inline-block;
  color: var(--color-text-secondary);
}

main a {
  color: var(--color-accent);
  text-decoration: underline;
  font-weight: 700;
  transition: text-decoration 0.3s ease transform 0.3s ease;

  &:hover {
    text-decoration: dotted underline;
  }

  &:active {
    transform: scale(0.9);
  }
}

hr {
  border-radius: 1.25rem;
  border: var(--color-border) 0.125rem solid;
  margin: 1.25rem 5%;
}

code {
  font-family: "Geist Mono", monospace;
  font-weight: 500;
  background-color: var(--color-background-second);
  border-radius: 0.45rem;
  color: var(--color-accent);
  padding: 0.125rem 0.25rem;
  font-size: 0.83rem;
}

kbd {
  background-color: var(--color-background-second);
  border-radius: 0.3125rem;
  border: 0.0625rem solid var(--color-border);
  border-bottom: 0.125rem solid var(--color-border);
  font-family: "Geist Mono", monospace;
  padding: 0.1875rem;
  font-size: 0.875rem;
  cursor: pointer;

  &:active {
    border-bottom: 0.0625rem solid var(--color-border);
    background-color: var(--color-border);
    border-left: 0.125rem solid var(--color-border);
    padding-bottom: 0.25rem;
    padding-left: 0.25rem;
  }
}

time {
  background-color: var(--color-background-second);
  color: var(--color-accent);
  font-weight: 700;
  border-radius: 0.3125rem;
  border: 0.0625rem solid var(--color-border);
  border-bottom: 0.125rem solid var(--color-border);
  padding: 0.1875rem;
  font-size: 0.875rem;
  cursor: pointer;

  strong {
    display: inline-block;
    font-weight: 700;
    animation: blink 0.7s infinite alternate;
  }

  @keyframes blink {
    from {
      opacity: 1;
    }

    to {
      opacity: 0.5;
    }
  }

  &:active {
    border-bottom: 0.0625rem solid var(--color-border);
    border-top: 0.125rem solid var(--color-border);
    font-weight: 800;
    padding-top: 0.25rem;

    strong {
      animation: none;
    }
  }
}

.spoiler {
  font-weight: 600;

  span {
    filter: blur(0.25rem);
    transition: filter 0.3s ease;
    font-weight: normal;
    animation: glow 1.5s infinite linear alternate-reverse;

    &:hover {
      filter: none;
      animation: none;
    }

    &:active {
      font-style: italic;
    }
  }

  @keyframes glow {
    0% {
      text-shadow: 0 0 0 var(--color-accent);
    }

    20% {
      text-shadow: 0 0 0.25rem var(--color-accent);
    }

    40% {
      text-shadow: 0 0 0.375rem var(--color-accent);
    }

    60% {
      text-shadow: 0 0 0.5rem var(--color-accent);
    }

    80% {
      text-shadow: 0 0 0.625rem var(--color-accent);
    }

    100% {
      text-shadow: 0 0 0.9375rem var(--color-accent);
    }
  }
}

mark {
  background-color: var(--color-background-second);
  color: var(--color-accent);
  margin: 0;
  padding: 0.125rem 0.375rem 0.1875rem 0.375rem;
  border-radius: 0.625rem;
}

table {
  border-collapse: collapse;
  border-radius: 0.625rem;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;

  th {
    background-color: var(--color-background-mute);
    color: var(--color-accent);
    font-weight: 700;
    padding: 0.625rem 1.25rem;
    text-align: center;
  }

  td {
    color: var(--color-text);
    padding: 0.625rem 1.25rem;
  }

  tr {
    background-color: var(--color-background);

    &:nth-child(2n) {
      background-color: var(--color-background-second);
    }

    &:first-child {
      border-bottom: 0 solid var(--color-border);
    }
  }
}

/* Others */

ul,
ol {
  margin: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

a mark {
  text-decoration: underline;
  display: inline-block;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.2) rotate(10deg);
  }
}

aside {
  background-color: var(--color-background-second);
  border-radius: 1rem;
  float: right;
  margin-inline-start: 1rem;
  padding: 1rem;
  width: 30%;
}

button {
  padding: 0;
  background-color: transparent;
  background-image: none;
  border: 0;
  cursor: pointer;
}

abbr {
  cursor: help;
}

.external-link a {
  &::after {
    content: " ↗";
    font-size: inherit;
  }
}

.internal-link a {
  &::after {
    content: " →";
    font-size: 0.75rem;
  }
}